@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #1abc9c;
    --secondary-color: #2c3e50;
    --footer-bg: #1a252f;
    --white-color: #ffffff;
}

body {
    min-height: 100vh;
}